/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
html {
    font-family: "open", sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    /* test structure */
    height: 400px;
    float: left;
}

/* HEADER */

header {
    /* test struttura */
    height: 60px;
    background-color:chartreuse
}

.header-nav {
    /* test struttura */
    height: 100%;
    border: 1px solid black;
    margin: 0 13px;
    background-color: bisque;
}

/* MAIN */

.jumbotron {
    /* test structure */
    background-color: #b4d0e7;

}

.jumbotron-title-container {
    /* test structure */
    width: 80%;
    margin: 0 auto;
    padding: 5em 0 2em}

.jumbotron-banner-container {
    /* test structure */
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}

.jumbotron-banner {
    /* test structure */
    width: 100%;
    border: 1px solid red;
}

.banner-prova-gratuita {
    /* test structure */
    width: 40%;
    background-color: yellow;
}

.banner-dimostrativo {
    /* test structure */
    width: 60%;
    background-color: violet;
}
